<h1>New To-do Item</h1>

<%= render 'layouts/navbar' %>
  <%= yield %>

<hr>

<%= form_for @todo do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.label :urgency %>
  <%= f.text_field :urgency %>
  <br>
  <%= f.label :completed %>
  <%= f.check_box :completed %>
  <br>
  <%= f.submit %>

<% end %>

<%= link_to 'Back', todos_path %>
